.a{
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100%;
    background-color:rgb(55, 55, 67);
    display: flex;
    justify-content: space-between;
    
    
}
h3{
    color:aliceblue;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 30px;
    font-size: 20px;
}
.b{
    
    height: 100%;
    padding: 20px 100px;
    display: flex;
    gap: 125px;  
    align-items: center;           
}
a{
    text-decoration: none;
    color:aliceblue ;
}